<section class="emailVerificationSection">
	<h1>Verification Request Received</h1>
	<p>If an unverified account is associated with the email you provided, a verification link will be sent.
		Please check your inbox and spam folder.</p>
	<p>Didn't get it? Request a <a href="/auth/resendVerificationLink">new</a> one.</p>
</section>