<section class="emailVerification">
	<h1>Verification Sent</h1>
	<p>Check your email inbox (and spam folder) for the verification link</p>
	<p>Didn't get it? Request a <a href="">new</a> one.</p>
</section>