<section class="errorSection">
	<h1><%= title %></h1>
	<p><%= message %></p>
	<% if (redirectLink) {%>
	<a href="<%= redirectLink.href %>"><%= redirectLink.caption %></a>
	<% } else {%>
	<a href="/">Go Back</a>
	<% }%>
</section>