<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blurt</title>
	<link rel="stylesheet" href="/style.css">
	<script src="/removeInputErrorMessages.js" defer></script>
	<script src="/togglePasswordVisibility.js" defer></script>
</head>

<body>
	<% if (locals.user)  {%>
	<%- include('partials/topBar.ejs') %>
	<% } %>
	<%- body %>
</body>

</html>